@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
 
html,body{
    display: inline;
    height: 100%;
    place-items: center;
    /* background-image: url("file:///D:/ABDULLAH/Engineering/FALL%202021/Data%20base/Project/static/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
    */
    background-color: #fff;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
 /* text-align: left;  */
  padding: 6px 6px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(235, 235, 235, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.191);
}
