<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/static/images/icon.jpg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    {%extends navbarhtml %}
    {%block content%}
    
    <form action="http://127.0.0.1:5000/Add_employee" method="POST">

        <div class="container">
            <div class="m-3">
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                <h1>Add Employee</h1>
                <h6>&nbsp;&nbsp;&nbsp;&nbsp;</h6>
            </div>
            <div class="container">
                <h4>Basic Information</h4>
                <div class="m-3">
                    <div class="col-4">
                        <label for="exampleFormControlInput1" class="form-label">Username</label>
                        <input name="Username" type="string" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                    </div>
                </div>
    
                <div class="m-3">
                    <div class="col-4">
                        <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                        <input name="EmailAddress" type="string" class="form-control" id="exampleFormControlInput1"
                            placeholder="" required>
                    </div>
                </div>
    
                <div class="m-3">
                    <div class="col-4">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input name="Password" type="string" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                    </div>
                </div>
            </div>
    
    
            <div class="container">
                <h4>Personal Information</h4>
                <div class="row">
                    <div class="col-3">
                        <div class="m-3">
                            <label for="exampleFormControlInput1" class="form-label">First Name</label>
                            <input name="FirstName" type="string" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                        </div>
                    </div>
    
                    <div class="col-3">
                        <div class="m-3">
                            <label for="exampleFormControlInput1" class="form-label">Middle Name</label>
                            <input name="MiddleName" type="string" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                        </div>
                    </div>
    
                    <div class="col-3">
                        <div class="m-3">
                            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                            <input name="LastName" type="string" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                        </div>
                    </div>

                        
                    <div class="col-3">
                        <div class=" m-3">
                          <form method="post">
                            <label for="exampleFormControlInput1" class="form-label">Gender</label> <br>
                            <div class="form-control">
                                <input type="radio" name="Gender" value="female" required> Female   
                                <input type="radio" name="Gender" value="male" required> Male 
                            </div>
                             
                          </form>
                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="m-3">
                            <label for="exampleFormControlInput1" class="form-label">Birthdate</label>
                            <input name="Birthdate" type="string" class="form-control" id="exampleFormControlInput1"
                                placeholder="YYYY/MM/DD">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="m-3">
                            <label for="exampleFormControlInput1" class="form-label">Social Security Number</label>
                            <input name="SSN" type="string" class="form-control" id="exampleFormControlInput1"
                                placeholder="" required>
                        </div>
                    </div>

                     <div class="col-4">
                        <div class="m-3">
                            <label for="exampleFormControlInput1" class="form-label">ID</label>
                            <input name="ID" type="string" class="form-control" id="exampleFormControlInput1"
                                placeholder="" required>
                            <p>Institutional Identification</p>
                        </div>
                    </div>
                </div>


 
                <div class="row">  
                    <div class="col-4">
                        <div class="m-3">
                            <label for="exampleFormControlInput1" class="form-label">Supervisor SSN</label>
                            <input name="SupervisorSSN" type="string" class="form-control" id="exampleFormControlInput1"
                                placeholder="">
                            <p>if any</p>
                        </div>
                    </div>
                        <div class="col-4">
                            <div class="m-3">
                                <label for="exampleFormControlInput1" class="form-label">Salary</label>
                                <input name="Salary" type="string" class="form-control" id="exampleFormControlInput1"
                                    placeholder="" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="m-3">
                                <label for="exampleFormControlInput1" class="form-label">Qualifications</label>
                                <input name="Qualifications" type="file" class="form-control" id="exampleFormControlInput1">
                            </div>
                        </div>
                    </div>

            </div>
    
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h4>Contact Information</h4>
                    </div>
                    <div class="col-4">
                        <h4> </h4>

                    </div>
                    <div class="col-4">
                        <h4>Permission Level</h4> 
                    </div>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <label for="exampleFormControlInput1" class="form-label">Address</label>
                            <input name="Address" type="string" class="form-control" id="exampleFormControlInput1"
                                placeholder="" required>
                        </div>
                        <div class="col-4">
                            <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                            <input name="PhoneNumber" type="string" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                        </div>
                        <div class="col-4">                                            
                                <label for="exampleFormControlInput1" class="form-label">Employee Type</label> <br>
                            <div class="form-control">
                                <input type="radio" name="PermissionLevel" value="employee" required>Human resouces    
                                <input type="radio" name="PermissionLevel" value="admin" required>Admin<br>
                            </div>
                        </div>
    
                        <div class="m-3"></div>
    
                    </div>
        

                </div>

                
            </div>

            
         

            <div class="m-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
    </form>
    {%if message%}
      <div class="alert alert-success" role="alert">
        {{message}}
      </div>
    {%endif%}

    {%if error%}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {%endif%}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
            
            {% endblock %}
</body>

</html>