<!DOCTYPE html>
<html>
   <head>
      <title>Index</title>
   </head>

   <body>

      <a href="http://127.0.0.1:5000/signup">Signup</a>
      <a href="http://127.0.0.1:5000/Login">Login</a>
      <a href="http://127.0.0.1:5000/Add_new_equipment">Add New Equipment</a>
      <a href="http://127.0.0.1:5000/Edit_equipment">Edit Equipment</a>
      <a href="http://127.0.0.1:5000/Add_consumables">Add Equipment Consumables</a>
      <a href="http://127.0.0.1:5000/Add_employee">Add Employee</a>
      <a href="http://127.0.0.1:5000/Add_lab_tech">Add Lab Technician</a>
      <a href="http://127.0.0.1:5000/Lab_guide">Lab Guide</a>
      <a href="http://127.0.0.1:5000/test">test</a>
      <a href="http://127.0.0.1:5000/hr_navbar">hr_navbar</a>
      <a href="http://127.0.0.1:5000/patient_navbar">patient_navbar</a>
      <a href="http://127.0.0.1:5000/admin_navbar">admin_navbar</a>
      <a href="http://127.0.0.1:5000/frontdesk_navbar">frontdesk_navbar</a>
      <a href="http://127.0.0.1:5000/labtech_navbar">labtech_navbar</a>
      
      
   </body>
</html> 
