<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <link rel="icon" type="image/x-icon" href="/static/images/icon.jpg">
      <meta charset="utf-8">
      <title> Login   </title>
       <!---------------------------------------- Include the css file ---------------------------------------->

     
      <link rel="stylesheet" href="/static/css/Login.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="bg-img">
         <div class="content">
            <header>LOGIN </header>
            <form action="http://127.0.0.1:5000/Login" method="POST">
               <div class="field">
                  <span class="fa fa-user-circle"></span>
                  <input  name="Email" type="text" required placeholder="Email">

                </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  <input name="Password" type="password" class="pass-key" required placeholder="Password">
                  <span class="show">SHOW</span>
               </div>
               <div class="pass">
                  <a href=" http://127.0.0.1:5000/Forgotpassword">Forgot Password?</a>
               </div>
               <div class="field">
                  <input type="submit" value="LOGIN">
               </div>
              
               <div class="signup">
                  Don't have account?
                  <a href=" http://127.0.0.1:5000/signup">Signup Now</a>
               </div>
              
               <h6>&nbsp;&nbsp;&nbsp;&nbsp;</h6>
               {%if message%}
               <div class="alert alert-success" role="alert">
                 {{message}}
               </div>
             {%endif%}
         
             {%if error%}
               <div class="alert alert-danger" role="alert">
                 {{error}}
            </form>

          
         </div>
      </div>


         
      </div>
    {%endif%}
      <script>
         const pass_field = document.querySelector('.pass-key');
         const showBtn = document.querySelector('.show');
         showBtn.addEventListener('click', function(){
          if(pass_field.type === "password"){
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
          }else{
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
          }
         });
      </script>
   </body>
</html>