<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" >
   <head>
      <meta charset="utf-8">
      <title>Reset Password</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

      <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
   </head>
   <body>
      
    <div class="container">
        <div class="content">
         <header>Reset password</header>
         <img src="file:///D:/ABDULLAH/Engineering/FALL%202021/Data%20base/Project/static/images/openlock.jpeg"  alt="----" width="300" height="130"/>
         <div class="d-flex justify-content-center m-3">
          <p class="card-text">Your identity has been verified  </p>
          <p class="card-text"> Set your new password </p>

        </div>
         <form action="#">
            <div class="error-text"></div>
            <div class="field">
               <input onkeyup="active()" id="pswrd_1" type="password" placeholder="Enter Password">
            </div>
            <div class="field">
               <input onkeyup="active_2()" id="pswrd_2" disabled type="password" placeholder="Confirm Password">
               <div class="show">
                  SHOW
               </div>
            </div>
            <!-- <button disabled id="1">Check</button> -->
            <button  type="submit" class="btn btn-success" >Reset</button>           
           
            <!-- <a href="http://127.0.0.1:5000/verification" class="btn btn-primary">Reset</a> -->
           
         </form>
      </div>
      <script>
         const pswrd_1 = document.querySelector("#pswrd_1");
         const pswrd_2 = document.querySelector("#pswrd_2");
         const errorText = document.querySelector(".error-text");
         const showBtn = document.querySelector(".show");
         const btn = document.querySelector("button");
         const BTN = document.querySelector("Button2")
         function active(){
           if(pswrd_1.value.length >= 4){
             btn.removeAttribute("disabled", "");
             btn.classList.add("active");
             pswrd_2.removeAttribute("disabled", "");
            //  BTN.removeAttribute("disabled", "");

           }else{
             btn.setAttribute("disabled", "");
            //  BTN.setAttribute("disabled", "");

             btn.classList.remove("active");
             pswrd_2.setAttribute("disabled", "");
           }
         }
         btn.onclick = function(){
           if(pswrd_1.value != pswrd_2.value){
             errorText.style.display = "block";
             errorText.classList.remove("matched");
             errorText.textContent = "Error! Confirm Password Not Match";
             return false;
           }else{
             errorText.style.display = "block";
             errorText.classList.add("matched");
             errorText.textContent = "Nice! Confirm Password Matched";
             return false;
           }
         }
         function active_2(){
           if(pswrd_2.value != ""){
             showBtn.style.display = "block";
             showBtn.onclick = function(){
               if((pswrd_1.type == "password") && (pswrd_2.type == "password")){
                 pswrd_1.type = "text";
                 pswrd_2.type = "text";
                 this.textContent = "Hide";
                 this.classList.add("active");
                 BTN.removeAttribute("disabled", "");
            //  <a href="http://127.0.0.1:5000/verification">Reset</a>

               }else{
                 pswrd_1.type = "password";
                 pswrd_2.type = "password";
                 this.textContent = "Show";
                 this.classList.remove("active");
               }
             }
           }else{
             showBtn.style.display = "none";
           }
         }
        //  BTN.oneclick = function()
        //  {
         
        //     if ( errorText.textContent = "Nice! Confirm Password Matched")
        //     {
        //       BTN.removeAttribute("disabled", "");



        //     }
        // }

      </script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   -->
</body>
</html>