<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <h1>Signup</h1>
  </div>


  <div class="container border">
    <h4>Basic Information</h4>
    <div class="m-3 col-6">
      <label for="exampleFormControlInput1" class="form-label">Username</label>
      <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="JohnDoe1">
    </div>
    <div class="m-3 col-6">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="m-3 col-6">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="password123">
    </div>
  </div>
  <div class="container border">
    <h4>Personal Information</h4>
    <div class="row">
      <div class="col">
        <div class="m-3">
          <label for="exampleFormControlInput1" class="form-label">First Name</label>
          <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="John">
        </div>
      </div>
      <div class="col">
        <div class="m-3">
          <label for="exampleFormControlInput1" class="form-label">Middle Name</label>
          <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="Max">
        </div>

      </div>
      <div class="col">
        <div class="m-3">
          <label for="exampleFormControlInput1" class="form-label">Last Name</label>
          <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="Doe">
        </div>
      </div>
      <div class="col">
        <div class="mt-5 mr-3 mb-3 ml-3">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Gender
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Female</a></li>
              <li><a class="dropdown-item" href="#">Male</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class=m-3>
            <label for="exampleFormControlInput1" class="form-label">Birthdate</label>
            <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="DD/MM/YYYY">
          </div>
        </div>

        <div class="col-4">
          <div class=m-3>
            <label for="exampleFormControlInput1" class="form-label">Social Security Number</label>
            <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="1234567890">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-4">
          <div class=m-3>
            <label for="exampleFormControlInput1" class="form-label">ID</label>
            <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="1234567890">
            <p>Institutional Identification</p>
          </div>
        </div>

        <div class="col-4">
          <div class=m-3>
            <label for="exampleFormControlInput1" class="form-label">Insurance Provider</label>
            <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="Company X">
          </div>
        </div>
      </div>



        <div class="container border">

          <h4>Contact Information</h4>
          <div class="row">
            <div class="col-4">
              <label for="exampleFormControlInput1" class="form-label">Address</label>
              <input type="string" class="form-control" id="exampleFormControlInput1"
                placeholder="Street 1 - Building 2 - Apartment 3">
            </div>
            <div class="col-4">
              <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
              <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="1234567890">
            </div>
            <div class="m-3">
            </div>
          </div>
        </div>
      
    </div>
    <div class="m-3">
      <button type="button" class="btn btn-success">Submit</button>
    </div>
  </div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>








