<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Equipment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    {%extends navbarhtml %}
    {%block content%}

    <div class="container mt-5-fluid">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        <h1>View Equipment</h1>
        <form action="http://127.0.0.1:5000/viewequipment" method="POST">
            <div class="container">
                <div class="row searchFilter">
                    <div class="row g-3">
                        <div class="col-md-10">
                            <label for="Serial_Number" class="form-label">Please enter Serial Number </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input name="Serial_Number" id="table_filter" type="text" class="form-control"
                                        aria-label="Text input with segmented button dropdown">
                                    <div class="input-group-btn">
                                        <button type="button"
                                            class="btn btn-success dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                class="label-icon">Category</span> <span
                                                class="caret">&nbsp;</span></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="category_filters">
                                                <li>
                                                    <input class="cat_type category-input" data-label="All" id="all"
                                                        value="" name="radios" type="radio"><label for="all">All</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="radios" id="one" value="one"><label
                                                        class="category-label" for="one">one</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="radios" id="two" value="two"><label
                                                        class="category-label" for="two">two</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="radios" id="three" value="three"><label
                                                        class="category-label" for="three">three</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="radios" id="four" value="four"><label
                                                        class="category-label" for="four">four</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="radios" id="five" value="five"><label
                                                        class="category-label" for="five">five</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <button id="searchBtn" type="submit" class="btn btn-success btn-search"><span
                                                class="glyphicon glyphicon-search">&nbsp;</span> <span
                                                class="label-icon">Search</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                    <div class="container mt-6-fluid">
                        <div class="gap mt-3">
                            <div class="row mt-3">
                                <div class="col mt-3-12">
                                    <div class="col mt-12 bg-light text-right">
                                        <a href="http://127.0.0.1:5000/Add_consumables" class="btn btn-primary">Add
                                            Consumables</a>
                                        <a href="http://127.0.0.1:5000/Add_new_equipment" class="btn btn-primary">Add
                                            Equipment</a>
                                            <a href="http://127.0.0.1:5000/viewconsumables" class="btn btn-primary">View Consumables</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container mt-6-fluid">
                        <div class="row mt-6-fluid">
                            <div class="col mt-12">
                                <p>
                                <div class="gap-3">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-success" type="button" data-toggle="collapse"
                                            data-target="#DeviceInformation" aria-expanded="false"
                                            aria-controls="DeviceInformation">Device Information</button>

                                        <button class="btn btn-success" type="button" data-toggle="collapse"
                                            data-target="#ManufacturerInformation" aria-expanded="false"
                                            aria-controls="ManufacturerInformation">Manufacturer Information</button>

                                        <button class="btn btn-success" type="button" data-toggle="collapse"
                                            data-target="#InstitutionalInformation" aria-expanded="false"
                                            aria-controls="InstitutionalInformation">Institutional Information</button>

                                        <button class="btn btn-success" type="button" data-toggle="collapse"
                                            data-target="#TestInformation" aria-expanded="false"
                                            aria-controls="TestInformation">Test
                                            Information</button>


                                    </div>
                                </div>


                                </p>
                                <div class="collapse" id="DeviceInformation">
                                    <h4>Device Information</h4>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col"> Serial Number </th>
                                                <th scope="col"> Device Name </th>
                                                <th scope="col"> Model </th>
                                        </thead>
                                        <tbody>
                                            {% for r in data.DeviceInformation %}
                                            <tr>
                                                {% for l in r %}
                                                <td>{{l}}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}

                                        </tbody>

                                    </table>
                                </div>

                                <div class="collapse" id="ManufacturerInformation">
                                    <h4>Manufacturer Informationy</h4>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col"> Manufacturer Name </th>
                                                <th scope="col"> Manufacturer ID </th>
                                                <th scope="col"> Manufacturing Date </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tbody>
                                            {% for r in data.ManufacturerInformation %}
                                            <tr>
                                                {% for l in r %}
                                                <td>{{l}}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="collapse" id="InstitutionalInformation">
                                    <h4>Institutional Information</h4>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col"> Department </th>
                                                <th scope="col"> Inventory ID </th>
                                                <th scope="col"> Status </th>

                                                <th scope="col"> IPM Maintenance </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tbody>
                                            {% for r in data.InstitutionalInformation %}
                                            <tr>
                                                {% for l in r %}
                                                <td>{{l}}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <div class="collapse" id="TestInformation">
                                    <h4>Test Information</h4>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col"> Name </th>
                                                <th scope="col"> Type </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tbody>
                                            {% for r in data.TestInformation %}
                                            <tr>
                                                {% for l in r %}
                                                <td>{{l}}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>





                            </div>
                        </div>
                    </div>




        </form>
    </div>


    <script src="/static/js/dropdown.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

    {% endblock %}
</body>

</html>v