<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View consumables</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container mt-2-fluid">
        <h1>View Consumables</h1>
    </div>
  

  <div class="container">
    <form class="form">
      <div class="form__group">
        <label for="consumable">Please select a consumable to view</label>
        <select id="consumable" name="consumable" data-dropdown>
          <option value="">Select...</option>
          <option value="one">one</option>
          <option value="two">two</option>
          <option value="three">three</option>

        </select>
    </div>

  
</div>
</form>
<a href="viewconsumablecont.html"> 
    <div class="container mt-5">
    
        <div class="col-md-6">
    <button type"OK" class="btn btn-success">OK</button>
        </div>
    
    </div>
</a>
<script src="dropdown.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>